html{
    scroll-behavior: smooth;
}

/* Browser Reset Code */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Class For This Website Uses */

:root {
    --finix: #E83B3E;
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #fff;
    --gray: #8898aa;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    --dark: #212529;
    --darker: black;
    --neutral: #fff;
    --star-color: #FF7A00;
    --primary: #74418E;
    --primary-light: #9652b8;
    --secondary-dark: #FFE600;
    --secondary: #FFE600;
    --secondary-light: #fff063;
    --basic: #172b4d;
    --default: #172b4d;
    --success: #2dce89;
    --info: #11cdef;
    --warning: #fb6340;
    --danger: #f5365c;
    --background: #F5F5F5;
    --surface: #fff;
    --on-primary: #fff;
    --on-secondary: #000;
    --on-background: #000;
    --on-surface: #525f7f;
    --on-blue-dark: #010D4D;
    --wapplayzer: #4507AC;
}

body,p,span{
    font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6,a{
    font-family: 'Rubik', sans-serif;
}

img{
    max-width: 100%;
}

.common-heading span {
    font-size: 18px;
    color: var(--finix);
    display: inline-block;
    margin-bottom: 14px;
}

.common-heading h2 {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 25px;
    color: #000;
}

.common-heading p {
    font-size: 16px;
    line-height: 30px;
    display: block;
    color: #555555;
}


/* Common Class For This Website Uses End */

/* Navbar Section Start */

.navbar.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; 
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff !important;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}


.header-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff !important;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
   
}

ul.primary-menu{
    width: 640px;
}

ul.primary-menu li a.active{
    color: var(--finix);
}

/* ul.primary-menu li{} */

ul.primary-menu li a {
    text-decoration: none;
    display: inline-block;
    color: #111111;
    font-weight: 500;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 15px;
    cursor: pointer;
    word-spacing: 2px;
}

ul.primary-menu li a:hover{
    transition: 0.5s;
    color: var(--finix);
}

/* DropDown Menu CSS*/

ul.primary-menu li{
    position: relative;
}

ul.primary-menu li ul {
    position: absolute;
    width: 250px;
    height: auto;
    list-style: none;
    background-color: #FFFFFF;
    top: 170%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    padding: 10px 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

ul.primary-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 119%;
}

ul.primary-menu li ul li{
    flex-direction: column;
}

ul.primary-menu li a i.fa-angle-down{
    font-size: 11px;
} 

/* ul.primary-menu li ul li a{} */

.header-info {
    width: 440px;
}

.header-search {
    width: 50px;
    text-align: center;
    font-size: 21px;
    margin-right: 15px;
    border-right: 1px solid #8d868663;
    cursor: pointer;
}

.header-call {
    width: 200px;
}

.header-call-icon {
    font-size: 33px;
    margin-right: 15px;
}
.header-call-icon span i {
    color: var(--finix);
}

/* .header-call-info{} */

.header-call-info a {
    text-decoration: none;
    color: #111111;
    font-weight: 700;
}

.header-button {
    width: 155px;
    margin-left: 25px;
    border-radius: 5px;
}

body .btn-primary {
    color: #fff;
    background-color: var(--finix) !important;
    border-color: var(--finix) !important;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
    position: relative;
    z-index: 0;
    width: 100%;
}

.btn-primary:active {
    color: #fff;
    background-color: var(--finix) !important;
    border-color: var(--finix) !important;
}

body .btn-primary:hover{
    border-color: #111111;
}

body .btn-primary::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #111;
    border-color: #111;
    z-index: -1;
    transition: 0.4s;
    border-radius: 5px;
}

body .btn-primary:hover::after{
    width: 100%;
}

body .btn-primary:focus{
    outline: none;
}



/* Navbar Section End */


/* Main Banner Section Start */

.main-banner-sec{
    background-image: url(../img/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    height: 870px;
    padding-top: 0px;
}

.d-table{
    width: 100%;
    height: 100%;
}

.d-table-cell{
    vertical-align: middle;
}

.main-banner-content{
    max-width: 720px;
    position: relative;
}

.main-banner-content span {
    font-size: 18px;
    color: var(--finix);
    display: inline-block;
    margin-bottom: 14px;
}

.main-banner-content h1 {
    font-size: 66px;
    font-weight: 600;
    margin-bottom: 14px;
    display: block;
    color: #000000;
}

.main-banner-content p {
    font-size: 18px;
    margin-right: 65px;
    line-height: 35px;
    display: block;
    color: #555555;
}

/* .common-button {
    
} */


.common-button a {
    width: 170px;
    margin-top: 15px;
}

/* Social Icons Area */
.banner-social-buttons ul li span {
    margin-right: 30px;
    position: relative;
    font-size: 17px;
}

.banner-social-buttons {
    position: absolute;
    left: 45px;
    right: auto;
    top: unset;
    bottom: 50px;
    transform: unset;
}

.banner-social-buttons ul {
    padding-left: 0;
    margin-bottom: 0;
}

.banner-social-buttons ul li {
    color: #000000;
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
}

.banner-social-buttons ul li span::before {
    position: absolute;
    right: -38px;
    top: 10px;
    width: 30px;
    content: '';
    height: 1px;
    background-color: #111111;
}

.banner-social-buttons ul li a i{
    color: #000000;
}

.buy-now-btn {
    right: 30px;
    z-index: 9999;
    top: 50%;
    position: fixed;
    /* -webkit-transform: translateY(-50%); */
    transform: translateY(-50%);
    border-radius: 30px;
    display: inline-block;
    color: #ffffff !important;
    background-color: #82b440;
    padding: 10px 20px 10px;
    font-size: 15px;
    font-weight: 600;
    /* -webkit-animation-name: tada; */
    animation-name: tada;
    /* -webkit-animation-duration: 5s; */
    animation-duration: 5s;
    /* -webkit-animation-fill-mode: both; */
    animation-fill-mode: both;
    /* -webkit-animation-iteration-count: infinite; */
    animation-iteration-count: infinite;
    transition: 0.5s;
    text-decoration: none;
}

.buy-now-btn:hover {
    background-color: var(--finix);
    border: 1px solid #82b440;
}

@keyframes tada {
    0%{
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        /* -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); */
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
    
    30%, 50%, 70%, 90% {
        /* -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); */
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        /* -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); */
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/* Main Banner Section End */

/* Partner Section Start Here */

.partners-section{
    background-color: hsl(0, 0%, 98%);
    border-bottom: 1px solid #e5e5e5;
    padding-top: 120px;
    padding-bottom: 120px;
}

/* Slider */

.slick-slide {
    margin: 0px 20px;
  }
  
  .slick-slide img {
    width: 100%;
  }

  /* .slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callous: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
  } */
  
  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  .slick-list:focus {
    outline: none;
  }
  
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }
  
  .slick-track:before,
  .slick-track:after {
    display: table;
    content: "";
  }
  
  .slick-track:after {
    clear: both;
  }
  
  .slick-loading .slick-track {
    visibility: hidden;
  }
  
  .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
  }
  
  [dir="rtl"] .slick-slide {
    float: right;
  }
  
  .slick-slide img {
    display: block;
  }
  
  .slick-slide.slick-loading img {
    display: none;
  }
  
  .slick-slide.dragging img {
    pointer-events: none;
  }
  
  .slick-initialized .slick-slide {
    display: block;
  }
  
  .slick-loading .slick-slide {
    visibility: hidden;
  }
  
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
  
  .slick-arrow.slick-hidden {
    display: none;
  }

/* Partner Section End Here */

/* Company About Section Start Here */

.com-about-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.align-items-center{
    align-items: center;
}

.about-warp{
    position: relative;
}

.about-warp img{
    max-width: 100%;
    height: auto;
}

.about-warp .about-cir-content{
    background-image: url(../img/shape.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 0;
    right: 60px;
    
}

.circle-txt {
    text-align: center;
    margin-top: 60px;
}

.circle-txt h2{
    font-size: 70px;
    color: var(--finix);
    line-height: 1;
    margin-bottom: 0;

}

.circle-txt span{
    font-family: 'Rubik', sans-serif;
    color: #000;
    font-weight: 600;

}

/* .com-about-content{

}

.common-heading{

} */

.business-focus{
    width: 100%;
    height: auto;
}

.business-focus ul {
    list-style: none;
    padding-left: 0px;
}

.business-focus ul span {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 18px;
    color: #606060;
}

.business-focus ul li {
    position: relative;
    color: #606060;
    margin-bottom: 10px;
    padding-left: 30px;
}

.business-focus ul li i{
    color: var(--finix);
    position: absolute;
    left: -7px;
    top: 0;
    font-size: 25px;
}

/* Company About Section End Here */

/* Transparent process Section Start Here */

.transparent-pro-section{
    padding-top: 80px;
    padding-bottom: 50px;
    background-color: #f9fafa;
}

.choose-image{
    margin-top: 35px;
    position: relative;
}

.choose-image img{
    max-width: 100%;
    height: auto;
}

.choose-image .video-btn {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 87px;
    background-color: #ffffff;
    color: #E83B3E;
    /* -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09); */
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    left: 45px;
    right: 0;
    margin: auto;
    bottom: 1px;
    /* -webkit-transform: translateY(-135%); */
    transform: translateY(-75%);
    transition: 0.5s;
    text-align: center;
    font-size: 50px;
}

.choose-image .video-btn::before{
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    line-height: 87px;
    background-color: var(--finix);
    border-radius: 50%;
    text-align: center;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    transition: 0.5s;
    opacity: 0;
    animation: play 1.6s ease-out infinite;
}

@keyframes play{
    0%,30%{
        transform: scale(0);
        opacity: 2.6;
    }

    50%{
        transform: scale(2);
        opacity: 0.5;
    }

    100%{
        transform: scale(1);
        opacity: 0.3;
    }
}

.choose-content.choose-box1{
    margin-top: 30px;
}

.choose-content.choose-box2{
    margin-top: 0px;
}

.choose-content.choose-box3{
    margin-top: 0px;
}

.choose-content.choose-box4{
    margin-top: -30px;
}

.choose-content{
    position: relative;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    z-index: 0;
    transition: 0.5s;
    background-color: #ffffff;
}

.choose-content::before{
    position: absolute;
    content: "";
    height: 58%;
    width: 90%;
    background-color: #fdebeb;
    left: 0;
    right: 0;
    z-index: -1;
    transition: 0.5s;
    border-radius: 50%;
    margin: auto;
    top: -110px;
}

.choose-content:hover{
    transform: translateY(-10px);
}

.choose-content .icon{
    margin-bottom: 20px;
    position: relative;
}

.choose-content:hover .icon i{
    background-color: var(--finix);
    color: #ffffff;  
    
}

.choose-content .icon i {
    background-color: #ffffff;
    border-radius: 50px;
    display: inline-block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 55px;
    color: #e73c3e;
    transition: 0.5s;
}

.choose-content h3{
    font-size: 25px;
    margin-bottom: 15px
}

.choose-content p {
    color: #606060;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.8;
    font-weight: 400;
    text-align: center;
}

.choose-content p:last-child{
    margin-bottom: 0px;
}

/* Transparent process Section End Here */


/* Deserve Section Start Here */

.deserve-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.deserve-heading{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
}

.deserve-heading p{
    max-width: 590px;
    margin: auto;
}

.deserve-heading h1{
    color: #000000;
    margin-bottom: 15px;
}

/* .deserve-items{
    margin-top: 25px;
} */

.deserve-items h3 {
    font-size: 36px;
    margin-bottom: 25px;
    font-weight: 400;
    line-height: 1.4;
    color: #000000;
}

.deserve-timeline{
    width: 100%;
    height: 100%;
    padding-right: 20px;
}

.deserve-timeline ul {
    list-style-type: none;
    position: relative;
    padding-left: 65px;
}

.deserve-timeline ul::before {
    content: "";
    position: absolute;
    width: 1px;
    height: calc(100% - 75px);
    top: 0;
    left: 20px;
    background: #e73c3e;
}

.deserve-timeline ul li{
    position: relative;
    margin-bottom: 15px;
}

.deserve-timeline ul li::before {
    content: attr(data-counter);
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #e73c3e;
    border-radius: 50%;
    top: 0px;
    left: -65px;
    line-height: 40px;
    text-align: center;
    background: #FFFFFF;
    font-size: 22px;
    color: #e73c3e;
}

.deserve-timeline ul li strong {
    display: inline-block;
    font-size: 23px;
    margin-bottom: 15px;
    color: #000000;
}

.deserve-timeline ul li p {
    color: #555555;
    line-height: 2;
    font-size: 17px;
    text-align: justify;
}

.deserve-form.rate-form {
    background-color: #FDEBEB;
}

.rate-form{
    padding: 50px 45px;
}

.rate-content{
    text-align: center;
    margin-bottom: 35px;
}

.rate-content span{
    color: #606060;
    margin-bottom: 0px;
    font-size: 16px;
}

.rate-content h3{
    color: #000000;
    font-size: 36px;
    margin-top: 10px;
}

.form-group label{
    color: #606060;
    margin-bottom: 5px;
    display: block;
}

.form-group input {
    margin-bottom: 20px;
    cursor: pointer;
}

.form-group input.form-control{
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 0px;
    border: none;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
}

.form-group select{
    margin-bottom: 20px;
    height: 55px;
    border-radius: 0px;
    border: none;
    cursor: pointer;

}

.form-select option{
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-select:focus{
    outline: none;
    box-shadow: none;
}

/* Deserve Section End Here */


/* Call To Action Section Start Here */

.call-to-action-area{
    padding-bottom: 50px;
}

.call-to-action-bg {
    padding: 60px 35px 60px 40px;
    background-color: rgb(231, 60, 62);
    border-radius: 6px;
}

.call-to-action h2 {
    padding-right: 15px;
    font-size: 35px;
    color: #FFFFFF;
    font-weight: 400;
    border-right: 1px solid #f39e9f;
}

.call-volume {
    margin-top: 15px;
}

.call-volume span i {
    width: 60px;
    height: 60px;
    background-color: #FFFFFF;
    color: #e73c3e;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 30px;
    margin-right: 25px;
    margin-left: 25px;
}

.call-volume a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 7px;
}

/* Call To Action Section End Here */


/* Company Value Section Start Here */

.company-value-section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.align-items-center{
    align-items: center !important;
}

.company-content-area h2{
    font-size: 36px;
    margin-bottom: 50px;
    color: #000;
}

.company-icon span i {
    color: #e73c3e;
    font-size: 30px;
    border: 1px solid #e73c3e;
    border-radius: 50%;
    padding: 7px 8px;
    text-align: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 20px;
}

.company-icon-content h4 {
    display: inline-block;
    color: #000;
    margin-bottom: 15px;
    margin-top: 7px;
}

.company-icon-content p {
    display: inline-block;
    color: #555555;
    line-height: 2;
    text-align: justify;
    word-spacing: 3px;
    padding-right: 25px;
}

.company-img img{
    width: 100%;
    height: 100%;
}

/* Company Value Section End Here */


/* Professional Services Section Start Here */

.professional-services-section {
    background-color: #f9fafb;
    padding-top: 70px;
    padding-bottom: 60px;
}

.services-tab-item {
    border-bottom: 1px solid #5555;
}

.services-tab-item li {
    flex: 1 1 auto;  
}

.services-tab-item li div span i {
    display: inline-block;
    font-size: 45px;
    padding: 20px 15px;
    background-color: #ffffff;
    color: #606060;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 10px 2px 28px 0 rgb(0 0 0 / 9%);
    transition: 0.5s;
}

.services-tab-item li div.active span i{
    color: var(--finix);
}

.services-tab-item li div.active{
    position: relative;
}

.services-tab-item li div.active::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: var(--finix);
    top: 160px;
    margin-left: -15px;
}

.services-tab-item li div strong {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    padding-bottom: 20px;
}

.services-tab-item-content {
    margin-top: 30px;
}

.services-tab-item-content-text h3 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.services-tab-item-content-text p{
    color: #606060;
    line-height: 1.9;
}

.services-tab-item-content-text ul{
    list-style: none;
    padding-left: 0px;
}

.services-tab-item-content-text ul li::before{
    content: '';
    display: inline-block;
    background-color: var(--finix);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 10px;
}

.services-tab-item-content-text ul li a {
    color: #606060;
    text-decoration: none;
    line-height: 2;
}

/* Professional Services Section End Here */


/* Client Section Start Here */

.client-section {
    padding-top: 70px;
    padding-bottom: 80px;
}

.client-section-title {
    margin-bottom: 55px;
}

.client-slider-text p {
    font-size: 22px;
    margin-top: 65px;
    line-height: 1.8;
}

.client-slider-text span {
    color: var(--finix);
    font-weight: 500;
}

.client-slider-text h6 {
    display: block;
    color: #606060;
    margin-top: 11px;
    font-weight: 400;
}

.client-slider-img span {
    position: absolute;
    bottom: 55px;
    right: 445px;
}

.client-slider-img span i{
    display: inline-block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    text-align: center;
    font-size: 50px;
    color: #e73c3e;
    border-radius: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}

.client-slider-img span i:hover{
    background-color: var(--finix);
    color: #FFFFFF;
}

.client-slider-btn {
    position: absolute;
    top: 370px;
}

.client-slider-btn button {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 15px;
    line-height: 20px;
    border: 1px solid #606060;
    background-color: transparent;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
    text-align: center;
    font-size: 50px;
    color: #606060;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
}

/* Client Section End Here */

/* leadership Section Start Here */

.leadership-section {
    padding-top: 70px;
    padding-bottom: 80px;
}

.leadership-section-title {
    margin-bottom: 55px;
}

.image-partner img{
    width: 100%;
    height: auto;
}

.image-partner{
    position: relative;
}

.leader-social-profile {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.leadership-card-content {
    margin-top: 25px;
}

.leadership-card-content span {
    color: var(--finix);
    font-size: 20px;
    font-family: 'Rubik';
    font-weight: 500;
}

.leadership-card-content p {
    color: #606060;
    margin-top: 5px;
    display: block;
}

.leader-social-profile ul {
    list-style: none;
    text-align: center;
    padding-left: 0px;
    margin-bottom: 22px;
}

.leader-social-profile ul li {
    display: inline-block;
    transition: .5s ease-in-out;
    transform: translateY(45px);
    opacity: 0;
    visibility: hidden;
}

.leadership-card-p:hover .leader-social-profile ul li{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}

.leadership-card-p .leader-social-profile ul li:nth-child(1) {
    transition-delay: .2s;
}

.leadership-card-p .leader-social-profile ul li:nth-child(2) {
    transition-delay: .3s;
}

.leadership-card-p .leader-social-profile ul li:nth-child(3) {
    transition-delay: .4s;
}

.leadership-card-p .leader-social-profile ul li:nth-child(4) {
    transition-delay: .5s;
}

.leader-social-profile ul li a {
    text-decoration: none;
    display: block;
    font-size: 20px;
}

.leader-social-profile ul li a i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: aliceblue;
    color: #000000;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}

.leader-social-profile ul li a i:hover {
    background-color: var(--finix);
    color: #FFFFFF;
    border-radius: 50%;
}

/* leadership Section End Here */

/* Story Posts Section Start Here */

.story-posts-section {
    padding-top: 70px;
    padding-bottom: 80px;
}

.story-posts-section-title {
    margin-bottom: 55px;
}

.story-posts-image img{
    max-width: 100%;
    height: auto;
}

.story-posts-content {
    font-family: 'Rubik';
}

.story-posts-content p {
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Rubik';
    color: #e73c3e;
}

.story-posts-content h3{
    margin-bottom: 15px;
}

.story-posts-content h3 a {
    text-decoration: none;
    color: #111;
    font-size: 25px;
    transition: 0.4s;
}

.story-posts-content h3 a:hover {
    color: #e73c3e;
}

.story-posts-content a {
    font-size: 17px;
    text-decoration: none;
    color: rgb(17, 17, 17);
    font-weight: 500;
    transition: 0.4s;
}

.story-posts-area:hover .story-posts-content a {
    color: #e73c3e;
    letter-spacing: 1.01px;
}

.story-posts-area:hover .story-posts-content h3 a{
    letter-spacing: 0px;
    color: #111;
    transition: 0.4s;
}

.story-posts-area:hover .story-posts-content h3 a:hover{
    letter-spacing: 0px;
    color: #e73c3e;
}

/* Story Posts Section End Here */

/* Top Footer Section Start Here */

.top-footer-section {
    padding-top: 30px;
}

.top-footer-area {
    background-color: #111111;
    padding-top: 110px;
    padding-bottom: 100px;
    color: aliceblue;
}

.top-footer-content {
    width: 100%;
    height: auto;
}

.footer-logo a{
    text-decoration: none;
}

.footer-logo a img{
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.footer-sub-content {
    margin-top: 25px;
    margin-bottom: 15px;
}

.footer-sub-content p {
    text-align: justify;
    line-height: 1.7;
    font-family: 'Rubik';
}

.top-footer-media {
    margin-top: 15px;
    display: inline-block;
}

.top-footer-media span {
    font-weight: 600;
}

.top-footer-media ul {
    text-align: center;
    display: inline-block;
    padding-left: 5px;
}

.top-footer-media ul li {
    display: inline-block;
    list-style: none;
}

.top-footer-media ul li a {
    text-decoration: none;
}

.top-footer-media ul li a i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    border-radius: 50%;
    transition: 0.4s;
    text-align: center;
}

.top-footer-media ul li a i:hover {
    color: #e73c3e;
}

.footer-link-s {
    padding-left: 22px;
}

.footer-heading h3 {
    border-bottom: 1px solid #292929;
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.footer-quick-link ul {
    padding-left: 0px;
}

.footer-quick-link ul li {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
}

.footer-quick-link ul li a {
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.4s;
}

.footer-quick-link ul li a:hover {
    color: #e73c3e;
    letter-spacing: 1.1px;
}

.footer-quick-link ul li i {
    display: inline-block;
    font-size: 22px;
    margin-right: 25px;
}

.footer-quick-link ul li p {
    margin-top: -4px;
}

/* Top Footer Section End Here */

/* Bottom Footer Section Start Here */

.bottom-footer-area {
    background-color: #111111;
    padding-top: 35px;
    padding-bottom: 20px;
    color: aliceblue;
    border-top: 1px solid #292929;
}

.copyright-area {
    display: block;
    text-align: center;
}

.copyright-area p {
    color: #555555;
    font-size: 17px;
    font-family: 'Rubik';
}

.copyright-area a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.4s;
}

.copyright-area a:hover {
    color: #e73c3e;
}

/* Bottom Footer Section End Here */